<md-content>
    <div layout="row" layout-align="center" class="dialog-demo-content">
        <h1 style="text-indent: 50px">Try this...!!!</h1>
        <span flex="10"></span>
        <div>
            <md-button my-draggable class="md-primary md-raised" ng-click="showAdvanced($event)">Calculator</md-button>
        </div>
        <span flex="20"></span>
        <div>
            <md-button my-draggable class="md-primary md-raised alert" ng-click="showAlert($event)">Alert Dialog</md-button>
        </div>
    </div>
</md-content>